registry=https://registry.npmjs.org/

@fluidframework:registry=https://pkgs.dev.azure.com/fluidframework/internal/packaging/internal/npm/registry/
@fluid-internal:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/internal/npm/registry/
@fluid-experimental:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/internal/npm/registry/

@fluid-tools:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/internal/npm/registry/

@fluid-msinternal:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/internal/npm/registry/

always-auth=true
